swagger: "2.0"
info:
  title: AirPlace - API Gateway
  description: AirPlace Gateway configuration
  version: "1.0.0"

host: airplace-gateway-4zbbjsv3.ew.gateway.dev
basePath: "/"
schemes:
  - https

x-google-endpoints:
  - name: "airplace-gateway-4zbbjsv3.ew.gateway.dev"
    allowCors: true
paths:
  /v1/proxy-interface:
    options:
      summary: CORS preflight
      operationId: proxyOptions
      x-google-backend:
        address: ${PROXY_INTERFACE_URL}
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "204":
          description: Preflight OK
          headers:
            Access-Control-Allow-Origin:
              type: string
              default: "*"
            Access-Control-Allow-Methods:
              type: string
              default: "POST, OPTIONS"
            Access-Control-Allow-Headers:
              type: string
              default: "Content-Type, Authorization"

    post:
      summary: API proxy
      operationId: proxy
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/Pixel"

      x-google-backend:
        address: ${PROXY_INTERFACE_URL}
        path_translation: APPEND_PATH_TO_ADDRESS

      responses:
        "200":
          description: A successful response
          schema:
            type: string
          headers:
            Access-Control-Allow-Origin:
              type: string
              default: "*"
            Access-Control-Allow-Methods:
              type: string
              default: "POST, OPTIONS"
            Access-Control-Allow-Headers:
              type: string
              default: "Content-Type, Authorization"
        "400":
          $ref: "#/responses/BadRequestError"
        "500":
          $ref: "#/responses/InternalServerError"

  ###############################################################
  # NO CORS HERE (Discord does not require it)
  ###############################################################
  /v1/discord/interactions:
    post:
      summary: Discord Implementation
      operationId: discord
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/DiscordInteraction"
      x-google-backend:
        address: ${DISCORD_INTERACTIONS_URL}
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: Successful Response from discord
          schema:
            type: string


###############################################################
# Shared responses
###############################################################
responses:
  BadRequestError:
    description: Invalid input provided
    schema:
      $ref: "#/definitions/ErrorResponse"
    headers:
      Access-Control-Allow-Origin:
        type: string
        default: "*"
  InternalServerError:
    description: Unexpected server error
    schema:
      $ref: "#/definitions/ErrorResponse"
    headers:
      Access-Control-Allow-Origin:
        type: string
        default: "*"


###############################################################
# Shared Definitions
###############################################################
definitions:

  ErrorResponse:
    type: object
    properties:
      error:
        type: string
      message:
        type: string
      details:
        type: object
        additionalProperties: true
      timestamp:
        type: string
        format: date-time
      traceId:
        type: string

  Pixel:
    type: object
    required:
      - x
      - y
      - color
      - user
      - timestamp
    properties:
      x:
        type: integer
      y:
        type: integer
      color:
        type: integer
      user:
        type: string
        pattern: "^[0-9]{17,18}$"
      timestamp:
        type: string
        format: date-time

  DiscordInteraction:
    type: object
    required:
      - type
    properties:
      type:
        type: integer
        enum: [1, 2, 3, 4, 5]
